* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

img {
  border-radius: 50%;
  border: 2px solid red;
  width: 350px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

section ul li {
  text-align: left;
}
